/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weird {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.weird > img{
     width: 300px;
}